{% extends 'core/base.html' %} {% block content %}

<main class="flex justify-center mt-20">
  <div class="bg-white p-8 rounded-lg shadow-lg w-96">
    <h2 class="text-2xl font-semibold mb-4 text-gray-800">Log in</h2>
    <form method="post" action=".">
      {% csrf_token %}
      <div class="mb-4">
        <label
          for="{{ form.email.id_for_label }}"
          class="block text-gray-700 text-sm font-semibold mb-2"
          >Email</label
        >
        {{ form.email }}
      </div>
      <div class="mb-6">
        <label
          for="{{ form.password.id_for_label }}"
          class="block text-gray-700 text-sm font-semibold mb-2"
          >Password</label
        >
        {{ form.password }}
      </div>
      <button
        type="submit"
        class="button hover:bg-slate-600 hover:text-white hover:border-slate-600 rounded-lg border-2 border-slate-600 py-2 px-4 w-full"
      >
        Log in
      </button>
    </form>
  </div>
</main>

{% endblock %}
