{%extends 'core/base.html' %} {%block content%}

<main class="py-6 px-8">
  <section class="mb-8">
    <h1 class="text-3xl font-bold mb-4">About Cloud Devopsec Project</h1>
    <p class="text-lg text-gray-600">
      This project is being done by Ali Hamza 23257164 for the course of cloud
      devopsec and involves using Amazon Web Services and other cloud services
      to create a project that is secure and reliable. The project aims to be
      used for real-world applications and includes a pipeline using AWS
      CodePipeline and other services for secure and reliable deployment. The
      application provides basic CRUD operations functionality.
    </p>
  </section>

  <section class="mb-8">
    <h2 class="text-2xl font-bold mb-4">Deployment</h2>
    <p class="text-lg text-gray-600">
      The application is deployed using Elastic Beanstalk, providing a scalable
      and reliable environment for hosting. Continuous integration and code
      quality checks are performed using SonarCloud, ensuring high-quality code
      and security standards.
    </p>
  </section>

  <section class="mb-8">
    <h2 class="text-2xl font-bold mb-4">Features</h2>
    <ul class="list-disc list-inside text-lg text-gray-600">
      <li>Accepts user input and validates it</li>
      <li>Provides CRUD functionalities</li>
      <li>
        Utilizes Amazon Web Services for deployment and other cloud services for
        reliability
      </li>
      <li>Secure deployment using AWS CodePipeline and Elastic Beanstalk</li>
      <li>Code quality checks with SonarCloud</li>
    </ul>
  </section>
</main>

{%endblock%}
