{% extends 'core/base.html' %}

{% block content %}
           <main class="py-6 px-8">
            <section class="mb-8">
                <h1 class="text-3xl font-bold mb-4">Contact Me</h1>
                <p class="text-lg text-gray-600">
                    Have a question or feedback? Feel free to reach out through any of the
                    following methods:
                </p>
            </section>

        <section class="mb-8">
                <h2 class="text-2xl font-bold mb-4">Email</h2>
                <p class="text-lg text-gray-600">
                        You can contact me via email at:
                        <ul>
                            <li>Personal: <a href="mailto:hamza120025@gmail.com" class="text-blue-600">hamza120025@gmail.com</a></li>
                            <li>Student: <a href="mailto:x23257164@student.ncirl.ie" class="text-blue-600">x23257164@student.ncirl.ie</a></li>
                        </ul>
                </p>
        </section>

            <section class="mb-8">
                <h2 class="text-2xl font-bold mb-4">GitHub</h2>
                <p class="text-lg text-gray-600">
                    Check out my GitHub repository at
                    <a href="https://github.com/Plasteredpeak" class="text-blue-600"
                        >Plasteredpeak</a
                    >.
                </p>
            </section>

            <section class="mb-8">
                <h2 class="text-2xl font-bold mb-4">LinkedIn</h2>
                <p class="text-lg text-gray-600">
                    Connect with me on LinkedIn
                    <a
                        href="https://www.linkedin.com/in/plasteredpeak"
                        class="text-blue-600"
                        >here</a
                    >.
                </p>
            </section>
        </main>
{% endblock %}
